body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-navbar {
  background-color: #F7EAD5;
}

.custom-logo {
  width: 100px; /* Adjust size as needed */
  cursor: pointer;
}

.custom-sidebar {
  background-color: #F7EAD5;
}

.custom-link {
  color: white;
}

@media (max-width: 767px) {
  .custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-logo {
    width: 50px; /* Adjust size for mobile as needed */
  }

  .navbar-toggler {
    margin-left: auto;
  }
}
